.nav_logo {
    height: 55px;
}

.nav-link {
    color: #333333 !important;
    font-family: 'Abril Fatface', cursive !important;
}

.navbar-button{
    font-family: 'Abril Fatface', cursive !important;
}